---
import BtnPrimary from './ui/BtnPrimary.astro';
import { getTranslations } from '../i18n/ui';
import LangToogle from './ui/LangToogle.astro';

const lang = Astro.currentLocale as 'en' | 'ar';

let t = await getTranslations(lang as 'ar' | 'en');

const homeHref = lang === 'ar' ? '/ar/' : '/';
const aboutHref = lang === 'ar' ? '/ar/about' : '/about';
---


<nav id="main-nav" class="navbar fixed top-0 z-100 bg-Primary-dark transition-all">
<div class="container flex font-heading font-bold max-w-1xl m-auto">  
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost text-white lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu"><path d="M4 5h16"/><path d="M4 12h16"/><path d="M4 19h16"/></svg>      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content  bg-white rounded-box z-20 mt-3 w-52 p-2 shadow">
        <li><a class="hover:text-Accent-hover" href={homeHref}>{t.nav.home}</a></li>        
        <li><a class="hover:text-Accent-hover" href="#team">{t.nav.about}</a></li>
        <li><a class="hover:text-Accent-hover" href="#projects">{t.nav.projects}</a></li>
        <li><a class="hover:text-Accent-hover" href="#services">{t.nav.services}</a></li>
        <li><a class="hover:text-Accent-hover" href="#team">{t.nav.team}</a></li>
      </ul>
    </div>
    <a class="">
        <img src="logo.svg" class="" width="80px" alt="">
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul id="nav" class="menu menu-horizontal gap-10 text-md text-Accent px-1">
        <li><a class="hover:text-Accent-hover" href={homeHref}>{t.nav.home}</a></li>        
        <li><a class="hover:text-Accent-hover" href="#team">{t.nav.about}</a></li>
        <li><a class="hover:text-Accent-hover" href="#projects">{t.nav.projects}</a></li>
        <li><a class="hover:text-Accent-hover" href="#services">{t.nav.services}</a></li>
        <li><a class="hover:text-Accent-hover" href="#team">{t.nav.team}</a></li>
    </ul>
  </div>
<div class="navbar-end">

    <BtnPrimary text={t.nav.quote} link='#contact' />

</div>
<LangToogle />
</div>

</nav>


<script>
  const nav = document.getElementById('main-nav');

  window.addEventListener('scroll', () => {
    if (window.scrollY > 50) {
      // الكلاسات عند التمرير لأسفل (خلفية غامقة مثلاً)
      nav?.classList.add('bg-slate-900', 'shadow-md', 'py-2');
      nav?.classList.remove('bg-transparent', 'py-4');
    } else {
      // العودة للحالة الأصلية عند الصعود للأعلى
      nav?.classList.add('bg-transparent', 'py-4');
      nav?.classList.remove('bg-slate-900', 'shadow-md', 'py-2');
    }
  });
</script>